

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio specific
*.user
*.userosscache
*.sln.docstates
.vs/

/frontend/node_modules
/frontend/.angular/cache/21.0.5/salon-pos-web